.photo-grid__trash-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url(../../../images/trash-btn.svg);
    height: 19px;
    width: 18px;
    transition: opacity .225s linear;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.photo-grid__trash-button:hover {
    opacity: .6;
}