.profile {
    display: flex;
    align-items: center;
    margin: 40px auto 0;
    max-width: 880px;
}

@media screen and (max-width: 690px) {
    .profile {
        width: fit-content;
        flex-direction: column;
        margin: 42px auto 0;
    }
}