.photo-grid__like-button {
    display: inline-block;
    background-image: url(../../../images/like-button.svg);
    height: 19px;
    width: 22px;
    transition: opacity .175s linear, transform .175s, background-image .175s ease-out;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.photo-grid__like-button:hover {
    opacity: 0.5;
    transform: scale(1.025);
}